<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= meta_tags(assigns) %>
    <%= linked_stylesheets(assigns) %>
    <%= stylesheet_tag(assigns) %>
    <%= csrf_meta_tag() %>
    <title><%= page_title(assigns) %></title>
    <%= if !dynamic_layout?(assigns) do %>
      <link phx-track-static rel="stylesheet" href={Beacon.Util.get_config(:css_path, "/assets/app.css")}/> 
    <% end %>
    <script defer phx-track-static type="text/javascript" src={Beacon.Util.get_config(:js_path, "/assets/app.js")}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
