# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
beacon-*.tar

# Temporary files, for example, from tests.
/tmp/

.DS_Store

# Dialyzer PTLs
/priv/plts/*.plt
/priv/plts/*.plt.hash

# assets
/assets/node_modules
# tailwind.install
/assets/css/app.css
/assets/tailwind.config.js

# Dev temp files
/dev/
/priv/dev

# LSP
/.elixir_ls
/.elixir-tools
/.lexical

# Local iex config
.iex.exs
