// Tailwind config for Beacon Sites
//
// See the Tailwind configuration guide for advanced usage
// https://tailwindcss.com/docs/configuration

module.exports = {
  content: [
    <%= @beacon_content %>
  ],
  theme: {
    extend: {},
  }
}
