// Tailwind config for Beacon Sites
//
// See the Tailwind configuration guide for advanced usage
// https://tailwindcss.com/docs/configuration

const baseConfig = require("./tailwind.base.config");

module.exports = {
  ...baseConfig,
  content: [
    <%= @beacon_content %>
  ]
}
