<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="csrf-token" content=<%= Phoenix.Controller.get_csrf_token() %> />
    <title>Error</title>
    <link id="beacon-runtime-stylesheet" rel="stylesheet" href=<%= BeaconWeb.Layouts.asset_path(@conn, :css) %> />
    <script defer src=<%= BeaconWeb.Layouts.asset_path(@conn, :js) %>>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
