<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Beacon Admin">
      <%= assigns[:page_title] || "Beacon" %>
    </.live_title>
    <link rel="stylesheet" href={admin_static_asset_path(@conn, :css)} />
    <script defer src={admin_static_asset_path(@conn, :js)}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
