<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <%= meta_tags(assigns) %>
    <title><%= page_title(assigns) %></title>
    <%= linked_stylesheets(assigns) %>
    <%= stylesheet_tag(assigns) %>
    <%= if !dynamic_layout?(assigns) do %>
      <link phx-track-static rel="stylesheet" href="/assets/app.css" />
    <% end %>
    <script defer phx-track-static type="text/javascript" src="/assets/app.js">
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
