<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>Error</title>
    <link id="beacon-runtime-stylesheet" rel="stylesheet" href={asset_path(@conn, :css)} />
    <script defer src={asset_path(@conn, :js)}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
