<!DOCTYPE html>
<html lang="en" phx-socket={live_socket_path(assigns)}>
  <head>
    <%= meta_tags(assigns) %>
    <title><%= page_title(assigns) %></title>
    <%= linked_stylesheets(assigns) %>
    <style>
      <%= raw(render("app.css", assigns)) %>
    </style>
    <script defer phx-track-static type="text/javascript" src={app_js_path()}>
    </script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
